<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   	<extension point="org.knime.workbench.repository.nodes">
	    
	     <node after="org.knime.python2.nodes.db.Python2ScriptDBNodeFactory" category-path="/extensionPython/" factory-class="org.vincent.python2.view.Python2View2NodeFactory"/>
	      <node after="org.vincent.python2.view.Python2View2NodeFactory" category-path="/extensionPython/" factory-class="org.vincent.python2.view.object.Python2ObjectViewNodeFactory"/>
	     
		<node after="org.vincent.python2.view.object.Python2ObjectViewNodeFactory" category-path="/extensionPython/" deprecated="false" factory-class="org.dsaas.python.PythonTableToContextNodeFactory"/>
		<node after="org.dsaas.python.PythonTableToContextNodeFactory" category-path="/extensionPython/" deprecated="false" factory-class="org.dsaas.python.PythonScript3In1OutNodeFactory"/>
		<node after="org.dsaas.python.PythonScript3In1OutNodeFactory" category-path="/extensionPython/" deprecated="false" factory-class="org.dsaas.python.Python2ScriptIn3OutNodeFactory"/>
		<node after="org.dsaas.python.Python2ScriptIn3OutNodeFactory" category-path="/extensionPython/" deprecated="false" factory-class="org.dsaas.python.PythonScriptInObjectOutNodeFactory"/>
		<node after="org.dsaas.python.PythonScriptInObjectOutNodeFactory" category-path="/extensionPython/" deprecated="false" factory-class="org.dsaas.python.PythonPredictorNodeFactory"/>
		<node after="org.dsaas.python.PythonObjectInScriptOutNodeFactory" category-path="/extensionPython/" factory-class="org.dsaas.python.Python3ObjectInScriptOutNodeFactory"/>
		<node after="org.dsaas.python.Python3ObjectInScriptOutNodeFactory" category-path="/extensionPython/" factory-class="org.dsaas.python.PythonPredictorNodeFactory"/>
		<node after="org.dsaas.python.PythonPredictorNodeFactory" category-path="/extensionPython/" factory-class="org.dsaas.python.Python3obj1objNodeFactory"/>
		<node after="org.dsaas.python.Python3obj1objNodeFactory" category-path="/extensionPython/" factory-class="org.dsaas.python.PythonPredictorObjectNodeFactory"/>
		<node after="org.dsaas.python.PythonPredictorObjectNodeFactory" category-path="/extensionPython/" factory-class="org.dsaas.python.Python3Object1ObjectNodeFactory"/>
</extension>
   	<extension point="org.knime.workbench.repository.categories">
      	<category description="Python nodes" icon="icons/python.png" level-id="extensionPython" name="ExtensionPython" path="/"/>
   	</extension>
     <extension point="org.knime.python2.sourcecodetemplates">
        <directory path="templates/">
        </directory>
     </extension>
</plugin>
